---
import directus from "../lib/directus";
import { readItems } from "@directus/sdk";

const products = await directus.request(
	readItems("products", {
		fields: ["*", { product_category: ["*"] }, { product_brand: ["*"] }],
	}),
);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Catalogo Baresk</h1>
		<section>
			<div class="product-list">
				{
					products.map((product) => (
						<div class="product">
							<h2>{product.product_name}</h2>
							<p>Volume: {product.product_volume_ml} ml</p>
							<p>Price: ${product.product_price}</p>
						</div>
					))
				}
			</div>
		</section>
	</body>
</html>
